<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.clone_wavve.user.UserMapper">
    <insert id="insUser">
        INSERT INTO w_user
            (w_id, provider, w_pw)
        VALUES (#{w_id}, #{provider}, #{w_pw})
    </insert>

    <select id="selUser" resultType="UserEntity">
        SELECT * FROM w_user
        WHERE w_id = #{w_id}
          AND provider = #{provider}
    </select>

    <select id="idChk" resultType="UserEntity">
        SELECT *
        FROM w_user
        WHERE w_id = #{w_id}
    </select>

    <update id="upNickname">
        UPDATE w_user
        SET w_nickname = #{w_nickname}
        WHERE iuser = ${iuser}
    </update>
</mapper>