* {
    word-break: break-all;
    word-wrap: break-word;
}

*, body, html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.member {
    width: 100%;
    z-index: 10;
    margin-top: 109px;
    background: #1b1b1b;
    overflow: hidden;
}

.member .member-layout {
    margin: 80px auto;
}

.member-layout {
    padding: 40px 0;
    margin: 0 auto;
    overflow: hidden;
    background: #252525;
}

.login {
    width: 560px;
}

.login-popup .member-layout h2, .member-layout h1 {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #fff;
}

body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

abbr, acronym, fieldset, iframe, img, td, th {
    border: 0;
}

.join-sns-box, .sns-box {
    float: left;
    width: 560px;
    padding: 0 40px;
}

.login-box-hd.wavve-hd {
    margin-bottom: 28px;
}

.login-box-hd {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #a5a5a5;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

caption, legend {
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    height: 0;
    width: 0;
    text-indent: -999em;
}

dd, dl, dt, ol, pre, ul {
    list-style: none;
}

.login ul.input-wrap01 li {
    margin: 0 0 10px;
}

button, label {
    cursor: pointer;
}

label {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: block;
}

.member-layout input[type=password].input-style01, .member-layout input[type=text].input-style01 {
    width: 100%;
    font-size: 15px;
    height: 53px;
    color: #fff;
    background-color: #2f2f2f;
    border: 0;
}

input[type=password], input[type=tel], input[type=text], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding: 0 20px;
    margin: 0;
    color: #a5a5a5;
}

input[type=tel], input[type=text], pre, textarea {
    font-weight: 400;
}

button, input, textarea {
    margin: 0;
    background: transparent;
}

.login ul.checkbox-wrap01 {
    margin: 14px 0 33px;
    overflow: hidden;
}

.login ul.checkbox-wrap01 li {
    float: left;
    margin-right: 15px;
    font-size: 14px;
}

.check-style input[type=checkbox] {
    position: absolute;
    clip: rect(0,0,0,0);
}

.join-sns-box .check-style-dark input[type=checkbox]+label {
    color: #a5a5a5;
}

.login ul.checkbox-wrap01 label {
    padding: 10px 0;
}

.login ul.checkbox-wrap01 label {
    padding: 10px 0;
}

.check-style input[type=checkbox]+label {
    position: relative;
    letter-spacing: -.2px;
}

.check-style input[type=checkbox]+label {
    font-size: 13px;
    color: #a5a5a5;
}

.check-blue-dark+label:before {
    border: 1px solid #d9d9d9;
    vertical-align: middle;
}

.check-style input[id="id-save"]:checked + label:before {
    content: "\2714";
    text-align: center;
    font-weight: 900;
    color: #fff;
    border: 1px solid #1351f9;
    background-color: #1351f9;

}

.check-style input[id="login-auto"]:checked + label:before {
    content: "\2714";
    text-align: center;
    font-weight: 900;
    color: #fff;
    border: 1px solid #1351f9;
    background-color: #1351f9;
}

.check-style input[type=checkbox]+label:before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin-right: 8px;
}

.btn-purple, .btn-purple > input {
    text-align: center;
}

.btn-purple-dark > input, .btn-purple > input {
    background: #1351f9;
}

.btn-purple > input {
    display: block;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    border: none;
    width: 100%;
}

.btn-purple, .btn-purple > input {
    text-align: center;
}

a, a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}

a {
    font-weight: 400;
}

.login ul.join-find {
    margin: 10px auto 30px;
    font-size: 0;
    text-align: center;
}

.login ul.join-find li {
    display: inline-block;
    position: relative;
}

.login ul.join-find li:first-child a {
    padding-left: 0;
}

.login ul.join-find li a {
    display: block;
    padding: 10px 14px;
    font-size: 14px;
    color: #a5a5a5;
}

.login ul.join-find li:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: #a5a5a5;
}

.join-sns-box, .sns-box {
    float: left;
    width: 560px;
    padding: 0 40px;
}

.or-bar-box {
    position: relative;
}

.or-bar-left {
    left: 0;
}

.or-bar {
    position: absolute;
    top: 14px;
    display: block;
    width: 21%;
    border-bottom: 1px solid #2f2f2f;
}

.login-box-hd {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #a5a5a5;
}

.login-error-red {
    color: rgb(255, 39, 163);
    font-size: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAW1JREFUOBHNVDtOw0AQfWMgTUq4AAUQmjSkoeECtChIEfScgIbGDQ0noA+KRETLBWhokoaGX8EFSEkTwMPM7K69NpZQUIqMZM969s3b3Zm3BhbVqG5jnHKC60EXnPUA6ghmVZ4JwCNQMsBhb0gpZdXcX2TcHq5jOr2RRJLEC2TJHZaX3vH1vYYk25MFTmUBRqNxQA/dt5iwROaJ7oXoEs3tcxp3PmOwjnlntIKPxzMhPBHC3Sqh4fVo3Loac6ufWuCPl+IMryXxlg+sRno02VGYDF6SXsI494YTvNbWW0GmxZYa1R0NzBshIXjDaU2tSS5akGnXtNizmOGt25YVkUn7tWuzmMOrbMxisom1P8zEnug1/szHKhfTn4tEZCJI1VGN0dPRZk0YDi953goyVbYI0nQUZr3nrf5tJeT0pgLWPG8FmVwRU7YJMkw7T8/H++WIfDnhsl6tMDfXG1Ai0xXmdjfDdv/71wj5i+d/AEudrdvpOu94AAAAAElFTkSuQmCC) left 2px no-repeat;
    margin-top: 14px;
    padding-left: 25px;
}

.or-bar-right {
    right: 0;
}
.or-bar {
    position: absolute;
    top: 14px;
    display: block;
    width: 21%;
    border-bottom: 1px solid #2f2f2f;
}

.login-sns {
    width: 364px;
    margin: 20px auto 40px;
}

.login-sns-each {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.kakao a, .tworld a {
    color: #212121;
}
.login-sns-each a {
    display: block;
    padding: 14px 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}

.icon-kakao {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACshmLzAAACTklEQVRYCe1WTUsbURR9d2bQKC6SUihESEjc9C+kVRsoBfciIrgSP3Br+zdcFIQuWlxU6EZpt1ahjIkfuFAQSZBAHBMxWhpECqVQTF7PC1rwvTeZMR0olDyYDPfOOeeeufM+wlh7tDvwjztAfuun02nr+vh4iBGlQXrCGetlnD9s8ImqyJ0ht42cbSWTq7ZtX/vR9jQwkkp1fa1UXtY5n4Vg1I8oMBWD6M2jaHR+eWfnZzNOUwODicRgvVZbhEBfM5Emz4qGaU5kHCfjhnE1MBCPD6OlH9DSDjeyrzzRL4OxsUyp9FGH1xoYiMWeArwBA6aOdN8citTAeZYtl7dkLszdHeKbY6ItBVVcqAstXO8b2nfLMcXAxfn5KOc8IeGCCJNCWxZSDOCbj8ugwGKNtmIAb/84sIKSkE5bMYAJE5Z4QYYPZDHFACZgQQYFFRPRqaylGuD8QAYFGO/KWooBLJcFGRRUbBjGW1lLMbBZLu+hVSsy8K9jok8bjpOVdRQDAtDd0zODyXgog1uN8UKO1dk5reNrDXzO5S47TPMFCDkd6T45FM+HQqF+u1Co6niue71zdfUjGYksYu2a6EYKZK1ZnehNrg7e665weGw9n790wwHjPXAyzsPInDcSCKLv+F2yiBbsk5MjL47lBbh5Lk7HPwNt/YLgANu22Fg4ilZxneHaNuPxfb//hoSgZwf6Y7EIQN8apyPejjh/hWNVWU5CrJXh2QEUfy6K475GljWZKRaV3ayVwrccTwMARtDyqWyp9O6W1L63O/BfdeA3G6OjNkWwE8gAAAAASUVORK5CYII=) no-repeat;
    background-size: 32px 32px;
}

.icon-naver {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACshmLzAAABIElEQVRYCWNgGAWjITAaAoM1BP7jBr+BUmbY3A0Uv4RLGzb1IDEmXBJ4xFmAcouBFnHhUUO0FDkOABmuBsS9RNuCRyG5DgAZmQEMBS88ZhMlRYkDQBbMBTpChCibcCii1AESQHNn4TCbKGFKHQCyJBAYCglE2YZFETUcADJ2EtARCljMJyhELQfwAm1aDMTMBG1EU8CIxodzgT76D+egMq4BuW+B2BZVGD+PEQiwqSAnBP4CDYoD4s/YDCRVjBwHMAA98wBoUR6plmFTT5YDQAYBHbEASK0DsSkBZDsAamk6kH4xYA4AhsIboOVJA+YAkMVAR2wHUtPJdQSlUQCztwTIuAXjkEJTxQHAUPgGtDQGiP+QYvmo2tEQGA2BQRECAL7YYewVRr/jAAAAAElFTkSuQmCC) no-repeat;
    background-size: 32px 32px;
}

.icon-facebook {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACshmLzAAABFElEQVRYCWNgGAWjIUBmCPz//58RiCOB+BAQvwJidNBHjNEsxChCVwO0iREoNhuIk9HlSOUzkaoBqj4MSFNsOcgsch1QCHUI/Slg8PMC8T/0CAfy64BYAYjFoZiXJq4DGq4LxOjgCrmWkRMFbFgsu4VFjCghchxAlMHEKhpwB4DyM0EAjPB3SIpAZQd6AvsNFPuCpAbENGBkZHyEJobBJdYB/zF04hf4DpTmATrgH35l5JcDhMy9QYzlIENolQauE3IhSfLANCCGhF3RCwEgfxWSPEgtD7EWEFUZAYPzFcxAoOHICRIm/ANZDUyQGJpWUUCM3WA1ow4YDYHREBgNAaJKQrRS5SGQn44mdhuNP8odOiEAAEOuqjiSqWt+AAAAAElFTkSuQmCC) no-repeat;
    background-size: 32px 32px;
}

.icon-google {
    background: url(https://w7.pngwing.com/pngs/869/485/png-transparent-google-logo-computer-icons-google-text-logo-google-logo-thumbnail.png) no-repeat;
    background-size: 32px 32px;
}

.icon-sns {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.a11y-hidden {
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    position: absolute;
    width: 1px;
    height: 1px;
}

.login-sns li+li {
    margin-left: 35px;
}

.kakao {
    background-color: #ffec00;
}

.naver {
    background-color: #23b909;
}

.facebook {
    background-color: #3b5998;
}

.google {
    background-color: #ffffff;
}

.login-sns-each {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.sns-exclamation {
    position: relative;
    padding-left: 12px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: #717171;
}

.sns-exclamation:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "*";
}

.sns-exclamation span {
    display: block;
}


