<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
    <link rel="shortcut icon" th:href="@{/imgs/wavve-icon/ms-icon-310x310.png}">
    <script defer th:src="@{/js/user/join.js}"></script>
    <title>wavve(웨이브)-회원가입</title>
</head>
<body>
<div class="header">
    <div class="header-gnb">
        <h1 class="logo">
            <a th:href="@{/}">
                <img id="header-logo" src="https://member.wavve.com/images/common/ci-wavve.png" alt="wavve">
            </a>
        </h1>
    </div>
</div>

<div class="member">
    <div class="join member-layout" id="g-contents">
        <div class="step-bar">
            <span class="gradation-blue" style="width:25%">스텝바</span>
        </div>

        <div class="common-box">
            <h2 class="join-hd">
                <span>이메일과 비밀번호</span>만으로 <br>
                <span>wavve를 즐길 수</span> 있어요!
            </h2>
            <form th:action="@{/user/join}" id="myJoinFrm" method="post" name="myJoinFrm">
                <fieldset>
                    <legend>간편 회원가입 입력 폼</legend>
                    <ul class="join-input-box">
                        <li>
                            <label for="w_id">
                                <input type="text" name="w_id" id="w_id" placeholder="wavve@example.com"
                                       class="input-style01 input-style02" maxlength="50" required>
                            </label>
                            <p class="login-error-gray" id="id-error-alert">
                                로그인, 비밀번호 찾기, 알림에 사용되니 정확한 이메일을 입력해 주세요.
                            </p>
                        </li>
                        <li>
                            <label for="w_pw">
                                <input type="password" name="w_pw" id="w_pw" placeholder="wavve 비밀번호 설정"
                                       class="input-style01 input-style02" maxlength="20" required>
                            </label>
                            <button class="btn-input" onclick="onPwShow(this); return false;">show
                            </button>
                            <p class="login-error-gray" id="pw-error-alert">
                                비밀번호는 8~20자 이내로 영문 대소문자, 숫자, 특수문자 중 3가지 이상 혼용하여 입력해 주세요.
                            </p>
                        </li>
                    </ul>
                    <ul class="btn-wavve-join" id="sub-join-submit">
                        <li><input class="join-input" type="submit" value="wavve 회원가입"></li>
                    </ul>
                </fieldset>
                <input type="hidden" name="device" value="pc">
                <input type="hidden" name="returnUrl">
                <input type="hidden" name="promotionCode" value="">
            </form>

            <div class="sns-box">
                <div class="or-bar-box">
                    <span class="or-bar or-bar-left"></span>
                    <h3 class="join-sns-hd">또는 다른 서비스 계정으로 가입</h3>
                    <span class="or-bar or-bar-right"></span>
                </div>

                <ul class="btn-sns-join">
                    <li>
                        <a href="javascript:;" onclick="loginWithKakao();">
                            <img src="https://member.wavve.com/images/member/ico-common-kakao.png" alt="카카오로 로그인">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" onclick="loginWithNaver();">
                            <img src="https://member.wavve.com/images/member/ico-common-naver.png" alt="네이버로 로그인">
                        </a>
                        <div id="naver_id_login" style="display: none;"><a
                                href="https://nid.naver.com/oauth2.0/authorize?response_type=token&amp;client_id=IMRF4m29ielhnUTZYGHL&amp;redirect_uri=https%3A%2F%2Fmember.wavve.com%2Fmember%2Flogin_naver.html&amp;state=895883a8-e6dd-4a23-a1e3-6be0fd75235d"
                                onclick="window.open(this.href, 'naverloginpop', 'titlebar=1, resizable=1, scrollbars=yes, width=600, height=550'); return false"
                                id="naver_id_login_anchor"><img src="//static.nid.naver.com/oauth/button_g.PNG"
                                                                border="0" title="네이버 아이디로 로그인" width="40" height="40"></a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" onclick="loginWithFacebook();">
                            <img src="https://member.wavve.com/images/member/ico-common-facebook.png" alt="페이스북으로 로그인">
                        </a>
                    </li>
                    <li>
                        <a  href="javascript:;" onclick="loginWithGoogle();">
                            <img class="google-img" src="https://w7.pngwing.com/pngs/869/485/png-transparent-google-logo-computer-icons-google-text-logo-google-logo-thumbnail.png" alt="구글로 로그인">
                        </a>
                    </li>
                </ul>
                <div class="txt-exclamation">
                    <p>
                        <span>SNS계정으로 간편하게 가입하여 서비스를 이용하실 수 있습니다.</span>
                        <span>기존 POOQ 계정 또는 wavve 계정과는 연동되지 않으니 이용에 참고하세요.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>