<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/imgs/wavve-icon/ms-icon-310x310.png}">
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="header-gnb">
        <h1 class="logo">
            <a th:href="@{/}">
                <img id="header-logo" src="https://member.wavve.com/images/common/ci-wavve.png" alt="wavve">
            </a>
        </h1>
    </div>
</div>
</body>
</html>